@model DepartmentDto

@{
    ViewData["Title"] = "Details";
}

<h1>Detaylar</h1>

<div>
    <h4>Departman</h4>
    <hr />
    <div class="container-fluid">
        <div class="row cols-1 cols-md-2">
            <div class="col-12 col-md-6">
                <div>
                    İsim:
                    @Model.Name
                </div>
                <div>
                    Açıklama:
                    @Model.Description
                </div>
                <div>
                    İçerik:
                    @Model.Content
                </div>
                <div>
                    Slug:
                    @Model.Slug
                </div>
                <div>
                    Resim:
                    @Model.CoverImagePath

                </div>
                @if (Model.Doctors != null)
                {
                    <div>
                        Doktorlar:
                    </div>
                    @foreach (var d in Model.Doctors)
                    {
                        <div>
                            @d.Name @d.Surname
                        </div>
                    }
                }

            </div>
            <div class="col-12 col-md-6"><img src="/images/service/@Model.CoverImagePath" /></div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
