@model NavigationViewModel

<header>
    <nav class="navbar navbar-expand-lg navigation" id="navbar">
        <div class="container">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                <img src="/images/logo.png" alt="" class="img-fluid">
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain"
                    aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icofont-navigation-menu"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarmain">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" asp-action="Index" asp-controller="Home">Anasayfa</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Page" asp-action="AboutUs">Hakkımızda</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" asp-controller="Department" asp-action="index" id="dropdown02" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Tıbbi Birimler <i class="icofont-thin-down"></i></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown02">
                            <li><a class="dropdown-item" asp-controller="Department" asp-action="">Hepsini gör</a></li>
                            @foreach (var item in Model.Departments)
                            {
                                <li><a class="dropdown-item" asp-controller="Department" asp-action="@item.Slug">@item.Name </a></li>
                            }
                        </ul>
                    <li class="nav-item"><a class="nav-link" asp-controller="doctor" asp-action="index">Doktorlar</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Blog" asp-action="index">Blog</a></li>
                        @if (Context.User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Context.User.FindFirst(ClaimTypes.Name).Value
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                @if(Context.User.IsInRole("Admin")){
                                <a class="dropdown-item"asp-area="Admin" asp-controller="home" asp-action="index">Admin sayfası</a>
                                }
                                <a class="dropdown-item" asp-controller="user" asp-action="index">Profil</a>
                                <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Çıkış yap</a>
                            </div>
                        </li>
                        }
                        else
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Üyelik
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" asp-controller="Auth" asp-action="Login">Giriş yap</a>
                                <a class="dropdown-item" asp-controller="Auth" asp-action="Register">Kayıt ol</a>
                                @*<a class="dropdown-item" asp-controller="Auth" asp-action="ForgotPassword">Forgot Password</a>*@
                            </div>
                        </li>
                        }


                    <!--
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="doctor.html" id="dropdown03" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Doctors <i class="icofont-thin-down"></i></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        @*
                            @foreach (var item in Model.DoctorDtos){
                            <li><a class="dropdown-item" href="doctor.html">@item.Name @item.Surname</a></li>
                            }
                            *@
                        @*
                            <li><a class="dropdown-item" href="doctor-single.html">Doctor Single</a></li>
                            <li><a class="dropdown-item" href="appoinment.html">Appoinment</a></li>

                            <li class="dropdown dropdown-submenu dropleft">
                                <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0501" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

                                <ul class="dropdown-menu" aria-labelledby="dropdown0501">
                                    <li><a class="dropdown-item" href="index.html">Submenu 01</a></li>
                                    <li><a class="dropdown-item" href="index.html">Submenu 02</a></li>
                                </ul>
                            </li>*@
                        </ul>
                    </li>
                    -->
                    <!--
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="blog-sidebar.html" id="dropdown05" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Blog <i class="icofont-thin-down"></i></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown05">
                            <li><a class="dropdown-item" href="blog-sidebar.html">Blog with Sidebar</a></li>
                            <li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>
                    -->
                    <li class="nav-item"><a class="nav-link" asp-controller="Appointment" asp-action="Index">Randevu</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Page" asp-action="Contact">İletişim</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>