@using Cms.Business.Services.Abstract;
@model NavigationViewModel
@inject ISettingService _settingService
@{
    ViewData["Title"] = "Home Page";
}

<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">Bütün sağlık çözümleri</span>
					<h1 class="mb-3 mt-3">En güvenilen sağlık partneri</h1>

					<p class="mb-4 pr-5">A repudiandae ipsam labore ipsa voluptatum quidem quae laudantium quisquam aperiam maiores sunt fugit, deserunt rem suscipit placeat.</p>
					<div class="btn-container ">
						<a asp-action="" asp-controller="Appointment" class="btn btn-main-2 btn-icon btn-round-full">Randevu al <i class="icofont-simple-right ml-2  "></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-surgeon-alt"></i>
						</div>
						<span>24 Saat Servis</span>
						<h4 class="mb-3">Online Randevu</h4>
						<p class="mb-4">7/24 Sağlık desteği al. Aile tıbbını dünyaya biz tanıttık.</p>
						<a asp-action="" asp-controller="Appointment" class="btn btn-main btn-round-full">Randevu al</a>
					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-ui-clock"></i>
						</div>
						<span>Açık olduğumuz zamanlar</span>
						<h4 class="mb-3">Çalışma saatleri</h4>
						<ul class="w-hours list-unstyled">
							<li class="d-flex justify-content-between">Pzt - Çrş : <span>8:00 - 17:00</span></li>
							<li class="d-flex justify-content-between">Prş - Cm : <span>9:00 - 17:00</span></li>
							<li class="d-flex justify-content-between">Cmt - Pz : <span>10:00 - 17:00</span></li>
						</ul>
					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-support"></i>
						</div>
						<span>Acil Vakalar</span>
						@{
							var telefon = _settingService.GetValueByName(SettingConstants.Telefon);
						}
						<h4 class="mt-2"><a href="tel:@telefon">@telefon</a></h4>
						<p>Acil durumlarda her zaman ulaş. Herhangi bir aciliyet durumunda bizimle iletişime geç.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src="images/about/img-1.jpg" alt="" class="img-fluid">
					<img src="images/about/img-2.jpg" alt="" class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src="images/about/img-3.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">Kişisel bakım <br>&amp; Sağlıklı yaşam</h2>
					<p class="mt-4 mb-5">Lider sağlık hizmeti Nulla perferendis veniam deleniti ipsum officia dolores repellat laudantium obcaecati neque.</p>

					<a asp-controller="Department" asp-action="" class="btn btn-main-2 btn-round-full btn-icon">departmanlar<i class="icofont-simple-right ml-3"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section service gray-bg py-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title my-0">
					<h2>Ödüllü hasta bakım hizmeti</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Şimdi moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
				</div>
			</div>
		</div>
		
		
	</div>
</section>
<section class="cta-section gray-bg pb-5 mb-3">
	<div class="container">
		<div class="cta position-relative">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-doctor"></i>
						<span class="h3 counter" data-count="@ViewBag.clients">@ViewBag.clients</span>+
						<p>Mutlu insan</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-flag"></i>
						<span class="h3 counter" data-count="@ViewBag.operations">@ViewBag.operations</span>+
						<p>Yapılan Ameliyatlar</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-badge"></i>
						<span class="h3 counter" data-count="@ViewBag.doctors">@ViewBag.doctors</span>+
						<p>Uzman doktor</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-globe"></i>
						<span class="h3 counter" data-count="@ViewBag.yearsOfExperience">@ViewBag.yearsOfExperience</span>
						<p>Yıllık Tecrübe</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section appoinment">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 ">
				<div class="appoinment-content">
					<img src="images/about/img-3.jpg" alt="" class="img-fluid">
					<div class="emergency">
						
						<h2 class="text-lg"><i class="icofont-phone-circle text-lg" href="@telefon"></i>@telefon</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-10 ">
				<div class="appoinment-wrap mt-5 mt-lg-0">
					<h2 class="mb-2 title-color">Randevu al</h2>
					<p class="mb-4">Mollitia dicta commodi est recusandae iste, natus eum asperiores corrupti qui velit . Iste dolorum atque similique praesentium soluta.</p>
					<a asp-action="" asp-controller="Appointment" class="btn btn-main-2 btn-icon btn-round-full">Randevu al <i class="icofont-simple-right ml-2  "></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6">
				<div class="section-title mb-2">
					<h2 class="mb-4">Hakkımızda söylenenler</h2>
					<div class="divider  my-4"></div>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-6 testimonial-wrap offset-lg-6">
				<div class="testimonial-block">
					<div class="client-info ">
						<h4>Muhteşem hizmet!</h4>
						<span>John Partho</span>
					</div>
					<p>
						They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
					</p>
					<i class="icofont-quote-right"></i>

				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Uzman doktorlar!</h4>
						<span>Mullar Sarth</span>
					</div>
					<p>
						They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>İyi destek!</h4>
						<span>Kolis Mullar</span>
					</div>
					<p>
						They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section clients">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h2>Bizi destekleyen partnerlerimiz</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row clients-logo slick-initialized slick-slider">

			<div class="slick-list draggable">
				<div class="slick-track" style="opacity: 1; width: 4160px; transform: translate3d(-1600px, 0px, 0px);">
					<div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="-6" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/5.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="-5" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/6.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="-4" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/3.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="-3" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/4.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="-2" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/5.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="-1" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/6.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide" tabindex="-1" style="width: 160px;" data-slick-index="0" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/1.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide" tabindex="-1" style="width: 160px;" data-slick-index="1" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/2.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide" tabindex="-1" style="width: 160px;" data-slick-index="2" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/3.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide" tabindex="-1" style="width: 160px;" data-slick-index="3" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/4.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-active" tabindex="-1" style="width: 160px;" data-slick-index="4" aria-hidden="false">
						<div class="client-thumb">
							<img src="images/about/5.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-active" tabindex="-1" style="width: 160px;" data-slick-index="5" aria-hidden="false">
						<div class="client-thumb">
							<img src="images/about/6.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-current slick-active" tabindex="0" style="width: 160px;" data-slick-index="6" aria-hidden="false">
						<div class="client-thumb">
							<img src="images/about/3.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-active" tabindex="0" style="width: 160px;" data-slick-index="7" aria-hidden="false">
						<div class="client-thumb">
							<img src="images/about/4.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-active" tabindex="0" style="width: 160px;" data-slick-index="8" aria-hidden="false">
						<div class="client-thumb">
							<img src="images/about/5.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-active" tabindex="0" style="width: 160px;" data-slick-index="9" aria-hidden="false">
						<div class="client-thumb">
							<img src="images/about/6.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="10" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/1.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="11" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/2.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="12" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/3.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="13" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/4.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="14" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/5.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="15" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/6.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="16" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/3.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="17" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/4.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="18" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/5.png" alt="" class="img-fluid">
						</div>
					</div><div class="col-lg-2 slick-slide slick-cloned" tabindex="-1" style="width: 160px;" data-slick-index="19" id="" aria-hidden="true">
						<div class="client-thumb">
							<img src="images/about/6.png" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
